<html>
  <title>Cave Cafe's Menu</title>
  <%- include('../template/header.html'); %>
  <body>
    <section class="container-fluid">
      <div class="row justify-content-center">
        <h1 class="text-center">MENU</h1>
      </div>
    </section>

    <section class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-lg-3">
          <a href="">
            <h3 class="text-center">All</h3></a>
        </div>

        <div class="col-lg-3">
          <a href="">
            <h3 class="text-center">Drink</h3></a>
        </div>
          <div class="col-lg-3">
<a href="">
            <h3 class="text-center">Bean</h3></a>
        </div>
          <div class="col-lg-3">
<a href="">
            <h3 class="text-center">Merch</h3></a>
        </div>
    </section>

    <section class="container-fluid">
      <div class="row justify-content-center content">

        <div class="col-lg-4">
          <div class="row">
            <div class="col-lg-6">
              <img class="img-fluid" src="images/latte.jpg" alt="" />
            </div>
            <div class="col-lg-6">
              <h1 class="text-center">Coffee Latte</h1>
              <p>blalabla</p>
              <p>HARGA: $$$</p>
              <p>quantity dropdown</p>
              <button>Buy</button>
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="row justify-content-center">
            <div class="col-lg-6">
              <img class="img-fluid" src="images/matchaLatte.jpg" alt="" />
            </div>
            <div class="col-lg-6">
              <h1 class="text-center">Matcha Latte</h1>
              <p>blalabla</p>
              <p>HARGA: $$$</p>
              <p>quantity dropdown</p>
              <button>Buy</button>
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="row">
            <div class="col-lg-6">
              <img class="img-fluid" src="images/coldBrew.jpg" alt="" />
            </div>
            <div class="col-lg-6">
              <h1 class="text-center">Cold Brew</h1>
              <p>blalabla</p>
              <p>HARGA: $$$</p>
              <p>quantity dropdown</p>
              <button>Buy</button>
            </div>
          </div>
        </div>
      </div>

    </section>

    <section class="container-fluid">
      <div class="row justify-content-center content">
        <div class="col-lg-4">
          <div class="row">
            <div class="col-lg-6">
              <img class="img-fluid" src="images/baliCoffee.jpg" alt="" />
            </div>
            <div class="col-lg-6">
              <h1 class="text-center">Balinese Coffee Bean</h1>
              <p>blalabla</p>
              <p>HARGA: $$$</p>
              <p>quantity dropdown</p>
              <button>Buy</button>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="row">
            <div class="col-lg-6">
              <img class="img-fluid" src="images/luwakCoffee.jpg" alt="" />
            </div>
            <div class="col-lg-6">
              <h1 class="text-center">Luwak Coffee</h1>
              <p>blalabla</p>
              <p>HARGA: $$$</p>
              <p>quantity dropdown</p>
              <button>Buy</button>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="row">
            <div class="col-lg-6">
              <img class="img-fluid" src="images/papuaCoffee.png" alt="" />
            </div>
            <div class="col-lg-6">
              <h1 class="text-center">Papuanese Coffee Bean</h1>
              <p>blalabla</p>
              <p>HARGA: $$$</p>
              <p>quantity dropdown</p>
              <button>Buy</button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="container-fluid" id="merchSection">
      <div class="row justify-content-center content">
        <div class="col-lg-4">
          <div class="row">
            <div class="col-lg-6">
              <img class="img-fluid" src="images/bottle.jpg" alt="" />
            </div>
            <div class="col-lg-6">
              <h1 class="text-center">Marble Bottle</h1>
              <p>blalabla</p>
              <p>HARGA: $$$</p>
              <p>quantity dropdown</p>
              <button>Buy</button>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="row">
            <div class="col-lg-6">
              <img class="img-fluid" src="images/bottle2.jpg" alt="" />
            </div>
            <div class="col-lg-6">
              <h1 class="text-center">Wooden Bottle</h1>
              <p>blalabla</p>
              <p>HARGA: $$$</p>
              <p>quantity dropdown</p>
              <button>Buy</button>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="row">
            <div class="col-lg-6">
              <img class="img-fluid" src="images/coffeeMug2.jpg" alt="" />
            </div>
            <div class="col-lg-6">
              <h1 class="text-center">Coffee Mug</h1>
              <p>blalabla</p>
              <p>HARGA: $$$</p>
              <p>quantity dropdown</p>
              <button>Buy</button>
            </div>
          </div>
        </div>
      </div>
    </section>

  </body>
  <%- include('../template/footer.html'); %>
</html>
