<html>
  <%- include('../template/header.html'); %>
  <link rel="stylesheet" href="style.css" />
  <body>
    <div class="container">
      <div class="row" style="text-align: center">
        <h1>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum
          officia dolor quis aut nemo, dicta magni soluta quae optio minus.
        </h1>
      </div>
      <div class="row" style="text-align: center">
        <div class="col-md-6">
          <!-- <h1>BABABA BABANANA POTATO NAAAA!!!!!!!!!!!!!!!!!!</h1> -->
          <img src="images/shopWall.jpg" alt="" />
        </div>
        <div class="col-md-6">
          <h1>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, sunt!
          </h1>
        </div>
      </div>
    </div>
  </body>
  <%- include('../template/footer.html'); %>
</html>
