<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
    <%- include('../template/header.html'); %>
        <link rel="stylesheet" href="css/accountCart.css">
</head>

<body>
    <div class="container">
        <div class=”Header”>
            <h1 class=”Heading” style="text-align: center;">Shopping Cart</h1>
            <h5 class=”Action” style="text-align: end; 
                   text-decoration: underline; 
                   color: #e44c4c; 
                   cursor: pointer;">
                Remove all</h5>
        </div>
        <div class="card">
            <div class="container scroll">
                <div class="column-25">
                    <img src="images/luwakCoffee.jpg" alt="">
                </div>
                <div class="column-75">
                    <div class="column-50">
                        <h4><b>Belanjaan</b></h4>
                        <div class="counter">
                            <div class="btn">+</div>
                            <div class="count">2</div>
                            <div class="btn">-</div>
                        </div>
                    </div>
                    <div class="column-50">
                        <div class="prices">
                            <div class="amount">NTD 29</div>
                            <div class="remove"><u>Remove</u></div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="checkout">
                <div class="total">
                    <div>
                        <div class="Subtotal">Sub-Total</div>
                        <div class="items">2 items</div>
                    </div>
                    <div class="total-amount" ”>$6.18</div>
                </div>
                <button class="button">Checkout</button>
            </div>
        </div>

    </div>
</body>
<%- include('../template/footer.html'); %>

</html>