<html>
  <title>About Cave Cafe</title>
  <%- include('../template/header.html'); %>
  <link rel="stylesheet" href="css/style.css" />
  <body>
    <section class="container-fluid">
      <div
        class="row justify-content-center align-items-center d-none d-lg-inline px-0 content"
        style="text-align: center"
      >
        <h1 class="text-center">ABOUT</h1>
      </div>
    </section>

    <section class="container-fluid">
      <div class="row justify-content-center align-items-center px-0 content">
        <div class="col-lg-6">
          <h1 class="text-center">OUR BEGINNING</h1>
          <p class="text-center">
            Cave Cafe is a coffee shop that is established by two Indonesians in
            2021.
          </p>
        </div>
        <div class="col-lg-6">
          <img src="images/coffeeShop.jpg" class="img-fluid" alt="" />
        </div>
      </div>
    </section>

    <section class="container-fluid">
      <div class="row justify-content-center align-items-center px-0 content">
        <div class="col-lg-6 order-1 order-lg-2">
          <h1 class="text-center">BACKGROUND</h1>
          <p class="text-center">
            From the early age, both founders have already developed their
            interests towards coffee even way before they have known each other.
            Even though the beginning is started rough with huge amounts of
            challenges, but the huge urge and determination keep founders going
            ahead to establish a new coffee shop.
          </p>
        </div>
        <div class="col-lg-6 order-2 order-lg-1">
          <img src="images/baristas.jpg" class="img-fluid" alt="" />
        </div>
      </div>
    </section>

    <section class="container-fluid">
      <div class="row justify-content-center align-items-center px-0 content">
        <div class="col-lg-6" style="text-align: center">
          <h1 class="text-center">LOCATION</h1>
          <p class="text-center">402台中市南區興大路145號</p>
          <p class="text-center">
            No. 145號, Xingda Rd, South District, Taichung City, 402
          </p>
          <button>Find Me!</button>
        </div>
        <div class="col-lg-6">
          <img src="images/coffeeShop.jpg" class="img-fluid" alt="" />
        </div>
      </div>
    </section>
  </body>
  <script src="js/app.js"></script>
  <%- include('../template/footer.html'); %>
</html>
