<div id="botContainer">
  <iframe id="bot" width="350" height="430" allow="microphone;" src="https://console.dialogflow.com/api-client/demo/embedded/22e01dba-3486-4a7d-9449-d6d809f9c15c"></iframe>
</div>

<div id="botIcon">
  <img src="images/bot.png"/>
</div>


<div class="footer-container">
  <div class="footer-heading footer-1 col-md-4">
    <h2>About Us</h2>
    <a href="#">Terms of Services</a>
  </div>

  <div class="footer-heading footer-2 col-md-4">
    <h2>About Us</h2>
    <a href="#">Terms of Services</a>
  </div>

  <div class="footer-heading footer-3 col-md-4">
    <h2>About Us</h2>
    <a href="#">Terms of Services</a>
  </div>
</div>
<script src="js/botController.js"></script>
