<script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
<df-messenger intent="WELCOME" chat-title="Cofie" agent-id="22e01dba-3486-4a7d-9449-d6d809f9c15c" language-code="en">
</df-messenger>


<div class="footer-container">
  <div class="footer-heading footer-1 col-md-4">
    <h2>Cave Cafe</h2>
    <a href="home">Home</a><br>
    <a href="about">About Us</a>
  </div>

  <div class="footer-heading footer-2 col-md-4">
    <h2>Menu</h2>
    <a href="#">Drink</a><br>
    <a href="#">Bean</a><br>
    <a href="#">Merch</a>
  </div>

  <div class="footer-heading footer-3 col-md-4">
    <h2>Contact Us</h2>
    <a href="#">Facebook</a><br>
    <a href="#">Instagram</a><br>
    <a href="#">Twitter</a>
  </div>
</div>