<script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
<df-messenger
  intent="WELCOME"
  chat-title="Cofie"
  agent-id="22e01dba-3486-4a7d-9449-d6d809f9c15c"
  language-code="en"
></df-messenger>


<div class="footer-container">
  <div class="footer-heading footer-1 col-md-4">
    <h2>About Us</h2>
    <a href="#">Terms of Services</a>
  </div>

  <div class="footer-heading footer-2 col-md-4">
    <h2>About Us</h2>
    <a href="#">Terms of Services</a>
  </div>

  <div class="footer-heading footer-3 col-md-4">
    <h2>About Us</h2>
    <a href="#">Terms of Services</a>
  </div>
</div>
