<title>Cave Cafe</title>

<!-- Google Font -->
<link
  href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,700"
  rel="stylesheet"
/>

<!-- Bootstrap CSS -->
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
  crossorigin="anonymous"
/>

<!--CSS-->
<link rel="stylesheet" href="css/style.css" />

<!-- Navbar -->
<nav
  id="mainNavbar"
  class="navbar navbar-dark bg-dark navbar-expand-sm py-0 fixed-top"
>
  <a href="#" class="navbar-brand">
    <img src="images/logo.jpg" alt="logo" style="width: 40px" />
    Cave Cafe
  </a>

  <button
    class="navbar-toggler"
    data-toggle="collapse"
    data-target="#navLinks"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="navLinks">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link">About</a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link">Menu</a>
      </li>
      <!-- <li class="nav-item">
            <a href="" class="nav-link">Account</a>
          </li> -->
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="" class="nav-link">Account</a>
      </li>
    </ul>
  </div>
</nav>

<!-- Slider main container -->
<div class="slider slider-1">
  <!-- Your content -->
  <div class="photos">
    <img src="images/coffeePlace.jpg" class="shown" />
    <img src="images/differentCoffees.jpg" />
    <img src="images/coffeePlate.jpg" />

    <!-- Prev/next buttons -->
    <div class="buttons">
      <div class="prev"></div>
      <div class="next"></div>
    </div>
  </div>
</div>

<!-- jQuery.js -->
<script
  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"
></script>

<!--Popper.js-->
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
  integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
  crossorigin="anonymous"
></script>

<!--Bootstrap JS-->
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
  integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
  crossorigin="anonymous"
></script>

<!--JS-->
<script src="js/app.js"></script>
